<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/py_intro/python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Starting from scratch!!!

### writing my first code

In [ ]:
print("Business")

Business

### Comments in Python

In [ ]:
# single line comment

In [ ]:
# multi line comment
# how are you!

In [ ]:
#multi line comment

"""I love data and its science
and also its technology"""
print("hello")

hello

In [ ]:
#docstring
a,b=map(int,input().split())
def mul(a,b):
  """its multipy the values of a and b"""
  return a*b
#By using docstring technique printing only the documents word inside the source code
print(mul.__doc__)
mul(a,b)

5 24
its multipy the values of a and b

120

### python variables

>It is like a jar which stores a element in memory space

In [ ]:
age =25
salary=30000
name="shakeel"
print(age)
print(salary)
print(name)

25
30000
shakeel

### DATA TYPES

In [ ]:
X="HELLO WORD"#STRING
Y=244 #Int
z=3.11 #float
l=[1,2,3]#list
s={1,2,3,4}#set
d={"name":"shakeel","age":22}#dictionary
t=(2,3,4,5)#tuple
co=3j #complex number
b=b"sr"#binary-bytes
tf=True #boolean

### input/output

In [ ]:
a = input() # Now you can use the input() function again
b = input()
c = a + b

5
5

In [ ]:
print(c)# all the input are in string format

55

In [ ]:
int(a)+int(b)

10

### Operators

In [ ]:
a = 9
b = 4
add = a + b

sub = a - b

mul = a * b

mod = a % b

p = a ** b
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

Arithmetic operators

In [ ]:
"""
Precedence of Arithmetic Operators
The precedence of Arithmetic Operators in Python is as follows:

P – Parentheses
E – Exponentiation
M – Multiplication (Multiplication and division have the same precedence)
D – Division
A – Addition (Addition and subtraction have the same precedence)
S – Subtraction
"""

'\nPrecedence of Arithmetic Operators\nThe precedence of Arithmetic Operators in Python is as follows:\n\nP – Parentheses\nE – Exponentiation\nM – Multiplication (Multiplication and division have the same precedence)\nD – Division\nA – Addition (Addition and subtraction have the same precedence)\nS – Subtraction\n'

Logical Operators

and,or,not

In [ ]:
#The Boolean AND operator returns True if both the operands are True else it returns False.
a=20
b=5
c=30
if a>b and a>c: #its become false and skip
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

c is greater

In [ ]:
#The Boolean OR operator returns True if either of the operands is True.
a=20
b=5
c=30
if a>b or a>c: #its become true and print this line
  print("a is greater")
elif b>a or b>c:
  print("b is greater")
else:
  print("c is greater")

a is greater

In [ ]:
#The Boolean NOT operator works with a single boolean value. If the boolean value is True it returns False and vice-versa.
a=20
b=50
c=30
if not a>b: #its become true and print this line
  print("a is greater")

a is greater

In [ ]:
a=int(input())

b=int(input())

if a>10 and b>10:
  print("true")
else:
  print("false")

1
5
false

In [ ]:
x= True
y=False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [ ]:
temp =25
if temp>20 and temp<30:
  print("it's warm")
if temp<20 or temp>30:
  print("it's cold")
if not temp:
  print("Temperature is unknown")

it's warm

In [ ]:
a = 15
b= 10
if a==b:
  print("a is equal to b")
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")
if ((a and b) >0):
  print("both are positive")
if ((a or b)<0):
  print("at least one is negative")

a is greater than b
both are positive

driving elig check

In [ ]:
age =18
has_license=True
if age>=18 and has_license:
  print("you can drive")
if age<18 or not has_license:
  print("you can't drive")

you can drive

In [ ]:
score = 85
if score>=90:
  print("Excellent")
if score>=70 and score<=89:
  print("good")
if score>=50 and score<=69:
  print("pass")
if score<50:
  print("fail")

good

In [ ]:
def is_prime(n):
  if n%1==0 and n%n==0:
    return True
  else:
    return False
is_prime(6)

True

Problem:
Write a function is_teenager(age) that takes an integer age and returns True if the person is a teenager (age between 13 and 19, inclusive), and False otherwise.

In [ ]:
def is_teenager(age):
  if age>=13 and age<=19:
    return True
  else:
    return False
is_teenager(13)

True

Write a function is_valid_triangle(a, b, c) that takes three integers a, b, and c representing the lengths of the sides of a triangle. The function should return True if the sides form a valid triangle, and False otherwise. A triangle is valid if the sum of any two sides is greater than the third side.

In [ ]:
def is_valid_triangle(a,b,c):
  if (a+b)>c and (b+c)>a and (a+c)>b:
    print("true")
  else:
    print("false")
print(is_valid_triangle(6, 5, 10))

true
None

Write a function is_even(n) that takes an integer n and returns True if the number is even, and False if it is odd.

In [ ]:
def is_even(n):
  if n % 2==0:
    return True
  else:
    return False
print(is_even(4))
print(is_even(7))

True
False

In [ ]:
def add_num(a,b):
  return a+b
add_num(5,5)

10

Write a Python function calculate_area(radius) that calculates and returns the area of a circle given its radius. Use the formula for the area of a circle:
Area
=
𝜋
×
radius
2
Area=π×radius
2
 .

In [ ]:
def cal_area(radius):
  area=3.14*(radius**2)
  return area
radius = 5
area = cal_area(radius)
print(f"The area of a circle with radius {radius} is: {area}")

The area of a circle with radius 5 is: 78.5

Write a program to find the square root of a number without using the math module.

In [ ]:
number = 25
sqrt = number ** 0.5
print("The square root is:", sqrt)

The square root is: 5.0

Write a program to swap two variables without using a temporary variable.

In [ ]:
a = 3
b = 7
a, b = b, a
print("After swapping: a =", a, ", b =", b)

After swapping: a = 7 , b = 3

Exercise: Check if a Number is Positive, Negative, or Zero

In [ ]:
n=float(input())
if n>=1:
  print("The number is positive")
elif n<=-1:
  print("negative")
elif n==0:
  print("its zero")

4
The number is positive

In [ ]:
n=float(input())
if n.is_integer():
  print("int")
else :
  print("float")

4
int

Basic Arithmetic Operations

In [ ]:
n=float(input())
m=float(input())
a=n+m
b=n-m
c=n*m

if m != 0:
    d = n / m
    e = n % m
else:
    d = "Division by zero error"
    e = "Division by zero error"

print(a)
print(b)
print(c)
print(d)
print(e)

23
0
23.0
23.0
0.0
Division by zero error
Division by zero error

Temperature Conversion

In [ ]:
temp=int(input())
#temp in celsius
temperature =temp*(9/5)+32
print("cel to fah:",temperature)

32
cel to fah: 89.6

Area of a Circle

In [ ]:
r=int(input())
area=(3.14159*r**2)
print("area:",area)

3
area: 28.27431


Simple Interest

In [ ]:
p=int(input())
i=int(input())
t=int(input())

si=(p*i*t)/100

print("SI:",si)

20
5
3
SI: 3.0

12345
15

Sum of Digits

In [ ]:
n=int(input())
rem=0
while n!=0:
  rem=rem +(n%10)
  n=n//10
print(rem)

12345
15

check prime

In [ ]:
n = int(input("Enter a positive integer: "))

if n <= 1:
    print("Not prime")
elif n == 2:
    print("Prime")
elif n == 3:
    print("Prime")
elif n % 2 == 0:
    print("Not prime")
elif n % 3 == 0:
    print("Not prime")
elif n == 5:
    print("Prime")
elif n == 7:
    print("Prime")
elif n % 5 == 0:
    print("Not prime")
elif n % 7 == 0:
    print("Not prime")
else:
    print("Prime")

Enter a positive integer: 11
Prime

In [ ]:
n = int(input("Enter a positive integer: "))
if n <= 1:
    print("Not prime")
else:
    is_prime = True
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            is_prime = False
            break
    if is_prime:
        print("Prime")
    else:
        print("Not prime")

Enter a positive integer: 531
Not prime

Title: Check Positive, Negative, or Zero

In [ ]:
def check_number(num):
  if num>=1:
    return "Positive"
  elif num<=-1:
    return "negative"
  else:
    return "zero"
check_number(-134)

'negative'

Find the Largest Among Three Numbers

In [ ]:
def find_largest(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

# Test cases
print(find_largest(3, 1, 2))    # Output: 3
print(find_largest(-1, -2, -3)) # Output: -1
print(find_largest(7, 7, 7))    # Output: 7
print(find_largest(1, 10, 10))  # Output: 10

check leap yr

In [ ]:
def is_leap_year(year: int) -> bool:
  if (year%100==0):
    return False
  if (year%4==0 or year%400==0):
    return True
is_leap_year(2000)

False

generate random no

In [9]:
import random
def gen_ran_no(start,end):
  return random.randint(start,end)
print(gen_ran_no(1, 10))  # Output: A random number between 1 and 10 (inclusive)
print(gen_ran_no(20, 25))  # Output: A random number between -5 and 5 (inclusive)
print(gen_ran_no(-10, -1))  # Output: A random number between -10 and -1 (inclusive)
print(gen_ran_no(0, 100))   # Output: A random number between 0 and 100 (inclusive)
print(gen_ran_no(50, 50))   # Output: 50 (since start and end are the same)

3
23
-6
14
50

Quadratic Equation

In [10]:
import cmath

def solve_quadratic(a: float, b: float, c: float) -> tuple:
    # Calculate the discriminant
    D = b**2 - 4*a*c

    # If the discriminant is positive, calculate two distinct real roots
    if D > 0:
        root1 = (-b + cmath.sqrt(D)) / (2*a)
        root2 = (-b - cmath.sqrt(D)) / (2*a)
        return (root1.real, root2.real)
    # If the discriminant is zero, calculate one real root (repeated twice)
    elif D == 0:
        root = -b / (2*a)
        return (root, root)
    # If the discriminant is negative, return an empty tuple
    else:
        return ()

# Test cases
print(solve_quadratic(1, -3, 2))  # Output: (2.0, 1.0)
print(solve_quadratic(1, 2, 1))   # Output: (-1.0, -1.0)
print(solve_quadratic(1, 0, 1))   # Output: ()

(2.0, 1.0)
(-1.0, -1.0)
()

factorial of a number

In [25]:
#using recursive approach
def fac(n:int):
  if n==1 or n==0:
    return 1
  else:
    return n*fac(n-1)
fac(10)

3628800

In [30]:
#using iterative approach
def fac(n:int):
  result=1
  for i in range(2,n+1):
    result = result*i
  return result
fac(5)

120