<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/forloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a = int(input())
 b = int(input())

 for i in range(a+1,b):
  print(i)

5
15
6
8
10
12
14

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
output = 0
for i in range(1,10):
  if i%2 !=0: continue

  else:
    print(i)
    output +=1


print("total count:",output)

2
4
6
8
total count: 4

In [ ]:
odd = 0
even = 0
for i in range(1,11):
  if i%2==0:
    even +=1
  else:
    odd +=1

print(odd)
print(even)

5
5

Count the number which are divisible by both

3 and 5.

In [ ]:
count = 0
for i in range(1,101):
  if i%3==0 and i%5==0 :
    count += 1
print(count)

6

 Q6. Write a program to compute the sum Of the first 5 natural numbers

In [ ]:
sum = 0
for i in range(6):
  sum = sum + i
print(sum)

15

Q7. Write a program to read 10 numbers from the keyboard and find their sum
and average)

In [ ]:
a=[]
for i in range(10):
  num = int(input())
  a.append(num)

sum = 0
for j in a:
  sum = sum + j

avg = sum/len(a)

print(sum)
print(avg)

5
5
5
5
5
5
5
5
5
5
50
5.0

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(j,end=",")
  print()

1,
1,2,
1,2,3,
1,2,3,4,

In [ ]:
for i in range(1,5):
  print(i,end="")

1234

In [7]:
for i in range(1,11):
  if i<:print(i*i)

1
4
9
16
25
36
49
64
81

In [11]:
n = 100
sum = 0
for i in range(1,n+1):
  sum = sum + i
print(sum)

5050

In [15]:
numbers = [1,3,5,7,9]
for i in numbers:
  print(i,)

1
3
5
7
9

In [18]:
n = 10
fac = 1
for i in range(1,n+1):
  fac = fac * i
print(fac)

3628800

In [22]:
string ="hello"
rev = ""
for char in string:
  rev = char + rev
print(rev)

olleh

In [28]:
string = "hello"
rev = ""
i = 0
while i < len(string):
  rev = string[i] + rev
  i = i + 1
print(rev)

olleh

In [62]:
import math

def is_prime(n):
    if n <= 1:
        return "NOT PRIME"
    if n <= 3:
        return "PRIME"
    if n % 2 == 0 or n % 3 == 0:
        return "NOT PRIME"

    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return "NOT PRIME"
        i += 6

    return "PRIME"
is_prime(121)

'NOT PRIME'