<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/forloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 a = int(input())
 b = int(input())

 for i in range(a+1,b):
  print(i)

5
15
6
8
10
12
14

In [7]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [20]:
output = 0
for i in range(1,10):
  if i%2 !=0: continue

  else:
    print(i)
    output +=1


print("total count:",output)

2
4
6
8
total count: 4

In [22]:
odd = 0
even = 0
for i in range(1,11):
  if i%2==0:
    even +=1
  else:
    odd +=1

print(odd)
print(even)

5
5

Count the number which are divisible by both

3 and 5.

In [25]:
count = 0
for i in range(1,101):
  if i%3==0 and i%5==0 :
    count += 1
print(count)

6

 Q6. Write a program to compute the sum Of the first 5 natural numbers

In [26]:
sum = 0
for i in range(6):
  sum = sum + i
print(sum)

15

Q7. Write a program to read 10 numbers from the keyboard and find their sum
and average)

In [33]:
a=[]
for i in range(10):
  num = int(input())
  a.append(num)

sum = 0
for j in a:
  sum = sum + j

avg = sum/len(a)

print(sum)
print(avg)

5
5
5
5
5
5
5
5
5
5
50
5.0

In [ ]:
555