<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def printrange (r1, r2) :
  for i in range (r1, r2+1) :
    print(i)
a=int(input("Enter a:" ))
b=int(input("Enter b:"))
printrange(a, b)

Enter a:30
Enter b:20

In [15]:
def add(a, b):
    print(a + b)
    return a + b
add(5,3)

8

8

In [20]:
def multiply_numbers(a=1, b=2):
    return a * b

result1 = multiply_numbers(4)
result2 = multiply_numbers(4, 5)
result3 = multiply_numbers(10,10)
print("Result1:", result1)
print("Result2:", result2)
print(result3)

Result1: 8
Result2: 20
100

In [21]:
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

result = check_even_odd(7)
print("The number is", result)

The number is Odd

In [28]:
def sum_all(*args):
    return sum(args)

total = sum_all(1, 2, 3, 4, 5,2,3,51,)
print("Total sum:", total)

Total sum: 71

In [31]:
square = lambda x,y,r,t: (x * y)+(r+t)
result = square(5,2,4,3)
print("Square:", result)

Square: 17

In [32]:
def person_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

person_details(name="John", age=30, location="New York")

name: John
age: 30
location: New York

In [36]:
def say_hello():
  return " HELLO"
S = say_hello()
print(S,"SHAKEEL")

 HELLO SHAKEEL

In [41]:
def isprime(n):
  if n < 2 :
    return False
  if n == 2 or n== 3:
    return True

  for i in range (2,n):
    if n % i == 0:
      return False
  else:
    return True

result = isprime(53)
print(result)

True

In [49]:
def average(*args):
  return (sum(args)/len(args))

result= average(10,10,10)
print(int(result))
del max

10

In [50]:
max1 = lambda x, y, z: max(x, y, z)
result = max1(4, 5, 6)
print(result)

6