<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/lists%2C_tuples%2C_sets%2C_and_dic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Operations [list]**

Create a list of integers from 1 to 10. Print the list.

Append the number 11 to the list. Print the updated list.

Insert the number 5.5 between 5 and 6. Print the updated list.

Remove the last element from the list. Print the updated list.

Reverse the list. Print the reversed list.

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
l.append(11)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
l.insert(5,5.5)
print(l)

[1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9, 10, 11]

In [4]:
l.remove(11)
print(l)

[1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9, 10]

In [5]:
l.pop(-1)
print(l)

[1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9]

In [6]:
l.reverse()
print(l)

[9, 8, 7, 6, 5.5, 5, 4, 3, 2, 1]

In [7]:
l.append(4)
print(l)

[9, 8, 7, 6, 5.5, 5, 4, 3, 2, 1, 4]

In [11]:
total = sum(list)
total

54.5

In [19]:
if 3 in list:
  print(True)
else:
  print(False)

True

In [22]:
l.reverse()
l

[9, 8, 7, 6, 5.5, 5, 4, 3, 2, 1, 4]

In [24]:
l.reverse()
print(l)

[4, 1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9]

List Slicing

Given a list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], extract the sublist [4, 5, 6].


Print every second element in the list.

Print the last three elements of the list.

In [27]:
listt = [1,2,3,4,5,6]
sliced = listt[0:2]
print(sliced)

[1, 2]

In [36]:
secondno = listt[1:-1:2]
secondno

[2, 4]

In [41]:

last3= listt[3:]
print(last3)

[4, 5, 6]

List Comprehension

Create a list of squares for the numbers 1 to 10 using list comprehension.

Filter out all even numbers from the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] using list comprehension.

In [42]:
sq = [i**2 for i in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
oddonly = [i for i in range(1,11)if i%2 != 0]
print(oddonly)

[1, 3, 5, 7, 9]

Merge two lists [1, 2, 3] and [4, 5, 6] into one list.
Find the sum of all elements in the list [1, 2, 3, 4, 5].

In [60]:
lista=[1,2,3]
listb=[4,5,6]
listc = lista + listb
print(listc)
del sum

[1, 2, 3, 4, 5, 6]

In [53]:
import inspect

Tuples
Basic Operations

Create a tuple with the elements (1, 2, 3, 4, 5). Print the tuple.

Try to modify the second element of the tuple. What happens?

Create a new tuple by concatenating (6, 7, 8) to the original tuple.

In [65]:
tup = (1,2,3,4,5)
tup1=(6,7,8)
tup2= tup + tup1
print(tup2)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5)

In [64]:
tup.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [69]:
colors = ("red", "green", "blue")
r = colors[0]
g = colors[1]
b = colors[2]
print(r)
print(g)
print(b)

red
green
blue

In [70]:
colors[2] = colors[0]

TypeError: 'tuple' object does not support item assignment

In [72]:
# Initial values
a = 5
b = 10

# Swap using tuple unpacking
a, b = b, a+b

# After swapping
print("a =", a)  # Output: a = 10
print("b =", b)  # Output: b = 5

a = 10
b = 15

Basic Operations

Create a dictionary with keys 'name', 'age', and 'city' and corresponding values 'John', 25, and 'New York'.

Access the value associated with the key 'name'.

Update the value of 'age' to 26.

In [77]:
dic = {
    "name":"shakeel",
    "age" : 43
}
print(dic["name"])

shakeel

In [79]:
dic["age"] = 50

print(dic["age"])

50

Sets
Basic Operations

Create a set with the elements {1, 2, 3, 4, 5}. Print the set.

Add the element 6 to the set.

Remove the element 3 from the set. What happens if you try to remove an element that doesnâ€™t exist in the set?

In [82]:
h ={1,2,3,4,5}
l =[1,2,3,4,5]
print(h)
type(h)

{1, 2, 3, 4, 5}

set

In [88]:
h.add(6)
print(h)
h.remove(6)
print(h)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [90]:
h.discard(8)

In [95]:
set1 = {1, 2,2, 3}
set2 = { 3,4,4, 5}

# Union

union_set = set1.union(set2)
print("Union:", union_set)

# Intersection
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

# Difference
difference_set = set1.difference(set2)
print("Difference:", difference_set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}