<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/While_looping_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to find the sum of the first n natural numbers using a while loop.

In [ ]:
def sum_of_natural_numbers(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

# Test case
print(sum_of_natural_numbers(5))  # Output: 15

15

Write a program to find the factorial of a given number using a while loop.

In [19]:
def factorial(n):
  output = 1
  count = 1
  while count<=n:
    output = output * count
    count +=1
  return output
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

multiplication table for given no

In [14]:
def mun(num):
  i = 1
  while i<=10:
    output = i * num
    print(f"{i} x {num} = {output}")
    i = i+1


mun(2)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

Description: Write a function to print a right-angled triangle pattern with n rows.

In [5]:
def pattern(n):
  i = n
  while i>=1:
    output = i * "*"
    print(output)
    i-=1

pattern(5)

*****
****
***
**
*

In [6]:
def pattern(n):
  i =1
  while i<=n:
    output = i * "*"
    print(output)
    i+=1

pattern(5)

*
**
***
****
*****