<a href="https://colab.research.google.com/github/shakeelrifathcse/Python-Basic-2-Advance-Excerise/blob/main/Python_introduction/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Starting from scratch!!! ZERO TO HERO MISSION ON PYTHON LEARNING JOURNEY

### writing my first code

In [ ]:
print("Business")

Business

### Comments in Python

In [ ]:
# single line comment

In [ ]:
# multi line comment
# how are you!

In [ ]:
#multi line comment

"""I love data and its science
and also its technology"""
print("hello")

hello

In [ ]:
#docstring
a,b=map(int,input().split())
def mul(a,b):
  """its multipy the values of a and b"""
  return a*b
#By using docstring technique printing only the documents word inside the source code
print(mul.__doc__)
mul(a,b)

5 24
its multipy the values of a and b

120

### python variables

>It is like a jar which stores a element in memory space

In [ ]:
age =25
salary=30000
name="shakeel"
print(age)
print(salary)
print(name)

25
30000
shakeel

### DATA TYPES

In [ ]:
X="HELLO WORD"#STRING
Y=244 #Int
z=3.11 #float
l=[1,2,3]#list
s={1,2,3,4}#set
d={"name":"shakeel","age":22}#dictionary
t=(2,3,4,5)#tuple
co=3j #complex number
b=b"sr"#binary-bytes
tf=True #boolean

### input/output

In [ ]:
a = input() # Now you can use the input() function again
b = input()
c = a + b

5
5

In [ ]:
print(c)# all the input are in string format

55

In [ ]:
int(a)+int(b)

10

### Operators

In [ ]:
a = 9
b = 4
add = a + b

sub = a - b

mul = a * b

mod = a % b

p = a ** b
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

Arithmetic operators

In [ ]:
"""
Precedence of Arithmetic Operators
The precedence of Arithmetic Operators in Python is as follows:

P – Parentheses
E – Exponentiation
M – Multiplication (Multiplication and division have the same precedence)
D – Division
A – Addition (Addition and subtraction have the same precedence)
S – Subtraction
"""

'\nPrecedence of Arithmetic Operators\nThe precedence of Arithmetic Operators in Python is as follows:\n\nP – Parentheses\nE – Exponentiation\nM – Multiplication (Multiplication and division have the same precedence)\nD – Division\nA – Addition (Addition and subtraction have the same precedence)\nS – Subtraction\n'

Logical Operators

and,or,not

In [ ]:
#The Boolean AND operator returns True if both the operands are True else it returns False.
a=20
b=5
c=30
if a>b and a>c: #its become false and skip
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

c is greater

In [ ]:
#The Boolean OR operator returns True if either of the operands is True.
a=20
b=5
c=30
if a>b or a>c: #its become true and print this line
  print("a is greater")
elif b>a or b>c:
  print("b is greater")
else:
  print("c is greater")

a is greater

In [ ]:
#The Boolean NOT operator works with a single boolean value. If the boolean value is True it returns False and vice-versa.
a=20
b=50
c=30
if not a>b: #its become true and print this line
  print("a is greater")

a is greater

In [ ]:
a=int(input())

b=int(input())

if a>10 and b>10:
  print("true")
else:
  print("false")

1
5
false

In [ ]:
x= True
y=False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [ ]:
temp =25
if temp>20 and temp<30:
  print("it's warm")
if temp<20 or temp>30:
  print("it's cold")
if not temp:
  print("Temperature is unknown")

it's warm

In [ ]:
a = 15
b= 10
if a==b:
  print("a is equal to b")
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")
if ((a and b) >0):
  print("both are positive")
if ((a or b)<0):
  print("at least one is negative")

a is greater than b
both are positive

Exercise 4: Using Logical Operators in a Real-World Scenario

In [ ]:
age =18
has_license=True
if age>=18 and has_license:
  print("you can drive")
if age<18 or not has_license:
  print("you can't drive")

you can drive

In [ ]:
score = 85
if score>=90:
  print("Excellent")
if score>=70 and score<=89:
  print("good")
if score>=50 and score<=69:
  print("pass")
if score<50:
  print("fail")

good

In [ ]:
def is_prime(n):
  if n%1==0 and n%n==0:
    return True
  else:
    return False
is_prime(6)

True

Problem:
Write a function is_teenager(age) that takes an integer age and returns True if the person is a teenager (age between 13 and 19, inclusive), and False otherwise.

In [ ]:
def is_teenager(age):
  if age>=13 and age<=19:
    return True
  else:
    return False
is_teenager(13)

True

Write a function is_valid_triangle(a, b, c) that takes three integers a, b, and c representing the lengths of the sides of a triangle. The function should return True if the sides form a valid triangle, and False otherwise. A triangle is valid if the sum of any two sides is greater than the third side.

In [ ]:
def is_valid_triangle(a,b,c):
  if (a+b)>c and (b+c)>a and (a+c)>b:
    print("true")
  else:
    print("false")
print(is_valid_triangle(6, 5, 10))

true
None

Write a function is_even(n) that takes an integer n and returns True if the number is even, and False if it is odd.

In [ ]:
def is_even(n):
  if n % 2==0:
    return True
  else:
    return False
print(is_even(4))
print(is_even(7))

True
False